doctype html
html
	head
		title BLOOD FRENZY
		meta(name='description', content='A WebGL fluid simulation demo based on the navier stokes equations for incompressible flow.')
		link(href='http://fonts.googleapis.com/css?family=Michroma', rel='stylesheet', type='text/css')
		link(rel='canonical', href='http://www.29a.ch/sandbox/2012/webglfluid/')
		link(rel='stylesheet', href='style/style.css')
		link(href='http://fonts.googleapis.com/css?family=Roboto+Slab:100' rel='stylesheet' type='text/css')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
	body(style='height: 100%; width: 100%')

		.visualizer
			#cc
				canvas#c(width='1280', height='720')
			#video
				p
					| Your system does not support WebGL which is required for this demo. You can try to
					a(href='http://get.webgl.org/') get WebGL
					|	to work or try out the older, more simple,
					a(href='http://29a.ch/sandbox/2012/fluidcanvas/') canvas version
					|	of this demo.

				p
			script(data-main='js/src/main', src='js/lib/require.js')
		.site-data
			.label-title
				div.label-logo BLOOD FRENZY
				.release-info
					div#release-number
					div#release-artist

					div.release-links
						div#release-title
						div#release-date
						div#listen-button Listen
						div#buy-button Buy
						div.buy-links
							.buy-link
								a#bandcamp(href='www.bandcamp.com') Bandcamp
							.buy-link
								a#juno(href='www.junodownload.com') Juno
							.buy-link
								a#bleep(href='www.bleep.com') Bleep
							.buy-link
								a#boomkat(href='www.bleep.com') Boomkat
			.site-info
				div.about about
				div.contact contact
			.controls
				div.stop#stop [disable visualization]
				div.hide#hide [hide site]