doctype html
html
	head
		title BLOOD FRENZY
		meta(name='description', content='A WebGL fluid simulation demo based on the navier stokes equations for incompressible flow.')
		link(href='http://fonts.googleapis.com/css?family=Michroma', rel='stylesheet', type='text/css')
		link(rel='canonical', href='http://www.29a.ch/sandbox/2012/webglfluid/')
		link(rel='stylesheet', href='style/style.css')
		link(href='http://fonts.googleapis.com/css?family=Roboto+Slab:100' rel='stylesheet' type='text/css')
	body(style='height: 100%; width: 100%')

		.visualizer
			#cc
				canvas#c(width='1280', height='720')
			#video
				p
					| Your system does not support WebGL which is required for this demo. You can try to
					a(href='http://get.webgl.org/') get WebGL
					|	to work or try out the older, more simple,
					a(href='http://29a.ch/sandbox/2012/fluidcanvas/') canvas version
					|	of this demo.

				p
			script(data-main='js/src/main', src='js/lib/require.js')
			script(type='text/javascript', src='https://apis.google.com/js/plusone.js', async='', defer='')
			#fb-root
		.site-data
			.label-title
				div.label-logo BLOOD FRENZY
				.release-info
					div FRENZY001
					div Myth

					div.release-links
						div Track1 / Track2
						div 10/10/20XX
						div.listen-button#track1 Listen
						dib.buy-button Buy
			.site-info
				div.about about
				div.contact contact
			.controls
				div.hide [hide site]
				div.stop [disable visualization]