doctype html
html
	head
		title Open Console!
		meta(name="viewport" content="width=device-width")
		link(href='https://fonts.googleapis.com/css?family=Michroma', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='style/style.css')
		link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:100' rel='stylesheet' type='text/css')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
	body(style='height: 100%; width: 100%')

		.visualizer
			#cc
				.demoText
					p#op
						| FALLOW
					p#op2
						| TOUCH YA KNEES
				canvas#c(width='1280', height='720')
			#video
				p
					| Your system does not support WebGL which is required for this demo.
				p
			script(data-main='js/src/main3', src='js/lib/require.js')
