.cover {
  width: 600px;
  height: 600px;
  /*filter: blur(5px) opacity(40%);*/
  border-radius: 50%;
}

.cover-container {
  position: absolute;
  /*animation-duration: 4000ms;*/
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes forward {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
        filter: blur(10px) opacity(0%);
    }
    50% {
        filter: blur(5px) opacity(65%);
    }
    100% {
        transform: rotate(360deg) translate3d(0, 0, 0);
        filter: blur(10px) opacity(0%);
    }
}


@keyframes backward {
    0% {
        transform: rotate(360deg) translate3d(0, 0, 0);
        filter: blur(5px) opacity(0%);
    }
    50% {
        filter: blur(10px) opacity(65%);
    }
    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
        filter: blur(5px) opacity(0%);
    }
}