.track, .transition-overlay {
/*  filter: opacity(0%);
*/  position: absolute;
  height: 600px;
  width: 600px;
  border-radius: 50%;
  overflow: hidden;
  /*transform: translate3d(0, 0, 0);*/
}

.transition-overlay {
    animation-name: trackFade;
    background-color: black;
}

@keyframes trackFade {
  0% {
    /*opacity: 1;*/
/*    filter: opacity(0%);
*/
  filter: opacity(100%);
  }

  3% {
    /*opacity: 0;*/
    /*filter: opacity(100%);*/
    filter: opacity(0%);
  }

  97% {
    filter: opacity(0%);
    /*opacity: 0;*/
    /*filter: opacity(100%);*/
  }

  100% {
    filter: opacity(100%);
    /*opacity: 1;*/
    /*filter: opacity(0%);*/
  }
}