.cover {
  width: 600px;
  height: 600px;
  /*filter: blur(5px) opacity(40%);*/
  border-radius: 50%;
}

.track {
  animation-name: trackFade;
}

@keyframes trackFade {
  0% {
    display: none;
    filter: opacity(0%);
  }
  1% {
    display: block;
  }

  50% {
      ilter: opacity(100%);
  }

  99% {
    filter: opacity(0%);
  }
  100% {
    display: none;
  }
}