
.track {
  animation-name: trackFade;
  filter: opacity(0%);
}

@keyframes trackFade {
  0% {
    filter: opacity(0%);
  }

  3% {
    filter: opacity(100%);
  }

  97% {
    filter: opacity(100%);
  }

  100% {
    filter: opacity(0%);
  }
}